﻿<div class="families view">
    <div class="container">
        <header>
            <h3>Families</h3>
        </header>
        <div>
            <div class="row cardContainer">
                <div class="span3 card" data-ng-repeat="family in families | orderBy:'familyName'">
                    <div class="cardHeader"> {{family.familyName}}</div>
                    <div class="cardBody">{{family.city}}  {{family.address}} </div>
                    <a href="#/families/{{family.id}}" class="cardBody btn-link">View Family Details</a>
                </div>
            </div>
        </div>
    </div>
</div>