<div class="families view">
    <div class="container">
        <header>
            <h3>Person</h3>
        </header>
        <div> FirstName : {{person.firstName}}</div>
        <div> Last Name : {{person.lastName}}</div>
        <div> Address   : {{person.address}}</div>
        <div> City      : {{person.city}}</div>       
    </div>
</div>